<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Upload_ha</servlet-name>
        <servlet-class>XML.Upload_ha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_b</servlet-name>
        <servlet-class>XML.Upload_b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>XML.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload_ha</servlet-name>
        <url-pattern>/Upload_ha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_b</servlet-name>
        <url-pattern>/Upload_b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
